// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  margin: 16px;
}

p {
  font-size: medium;
  font-weight: thin;
}

a {
  font-size: medium;
  font-weight: thin;
}

.box {
  padding-left: 16px;
  border-left: 4px solid rgba(0, 0, 0, 0.2);
  margin: 16px;
}

a {
  text-decoration: none;
  margin: 16px;
  font-size: 14px;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
}
a:visited {
  color: #96AAD6;
}

a:hover {
  color: #677694;
}

.answer {
  background-color: #FFFEE1;
}
